<manifest package="co.sodalabs.apkupdater"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- Updates Checker -->
        <service
            android:name=".feature.checker.CheckJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".feature.checker.CheckJobIntentService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Heart Beater -->
        <service
            android:name=".feature.heartbeat.HeartBeatJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".feature.heartbeat.HeartBeatJobIntentService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".SparkPointUpdatedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>