<manifest package="co.sodalabs.updaterengine"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name="co.sodalabs.updaterengine.feature.installer.DefaultInstallerActivity"
            android:theme="@style/AppThemeTransparent" />

        <!-- Updates Checker -->
        <service
            android:name=".feature.downloader.DownloadJobIntentService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Installer (install dispatcher) -->
        <service
            android:name=".feature.installer.InstallerService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--TODO: The client integrating this library has to declare this in your manifest.-->
        <!--
        <provider
            android:name=".installer.ApkFileProvider"
            android:authorities="${applicationId}.installer.ApkFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_file_provider" />
        </provider>
        -->
    </application>
</manifest>
