<manifest package="co.sodalabs.privilegedinstaller"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="android.uid.system"
          tools:node="merge">

    <!-- These permissions are only granted when this apk is installed as a privileged app! -->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".PrivilegedInstallerApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
        Android requires a default Activity for adb-install, otherwise we'll bake
        this app in the Android Image.
        -->
        <activity android:name=".DummyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PrivilegedInstallerService"
            android:enabled="true"
            android:exported="true"
            android:process=":soda_privileged"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="co.sodalabs.privilegedinstaller.IPrivilegedService" />
            </intent-filter>
        </service>
    </application>
</manifest>